@use '@src/common/styles/mixins' as mixins;
@use '@src/common/styles/colors' as colors;

.topBar {
  flex-shrink: 0;
  min-width: 1000px;
  height: 70px;
  z-index: 1000;
  position: sticky;
  top: 0;
  background-color: colors.$black;
  box-shadow: 0px 8px 15px colors.$black;
  @include mixins.flexCenter;

  .iconsPanel {
    position: absolute;
    left: 0;
    height: 100%;
    padding-left: 20px;
    @include mixins.flexCenter;
    gap: 10px;
  }

  .viewTitleLabel {
    @include mixins.noSelect;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.03em;
    color: colors.$white;
  }
}
