@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Baloo Chettan 2', sans-serif;
  overflow: hidden;
  margin: 0;
}
