@use '@src/common/styles/colors' as colors;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin noSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin scrollable {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: colors.$beige1;

    &:hover {
      background-color: colors.$beige2;
    }
  }

  &::-webkit-scrollbar-track {
    background: colors.$gray4;
  }

  &::-webkit-scrollbar-corner {
    background: colors.$gray4;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
}
