@use '@src/common/styles/mixins' as mixins;
@use '@src/common/styles/colors' as colors;

.app {
  @include mixins.scrollable;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: colors.$gray2;

  .view {
    flex-grow: 1;
    @include mixins.flexCenter;
    min-width: 1000px;
    padding: 50px;
  }
}
