@use '@src/common/styles/mixins' as mixins;
@use '@src/common/styles/colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  overflow: hidden;
  margin: 0;
}

.app {
  @include mixins.scrollable;
  overflow: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: colors.$gray2;

  .view {
    flex-grow: 1;
    @include mixins.flexCenter;
    min-width: 1000px;
    padding: 50px;
  }
}
